<a href="https://colab.research.google.com/github/Rutheniumruto/TeknoMinerbaInternship/blob/main/Repetition_Structures_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Repetition Structures Lab

Turn off AI: Tools -> Settings -> Hide generative AI features

**Q1**: What is the output of this program?
```python
x = 0
while x < 5:
  print(x)
  x += 1
```

In [ ]:
0
1
2
3
4

**Q2**: What is the output of this program?
```python
for i in range(3):
  print("Hello")
```

In [ ]:
Hello
Hello
Hello

**Q3**: What is the output of this program?
```python
for i in range(1, 10, 2):
    print(i, end=":")
```

In [ ]:
1:3:5:7:9:

**Q4**: What is the output of this program?
```python
x = 5
while x > 0:
  print(x)
  x -= 2
```

In [ ]:
5
3
1

**Q5**: What is the output of this program?

```python
i = 1
while i <= 16:
  print(i, end=" ")
  i *= 2
```

In [ ]:
1 2 4 8 16

**Q6**: What is the output of this program?

```python
total = 0
count = 1
while count < 7:
  total += 1
  count += 1
print(count)
```

In [ ]:
7

**Q7**: What is the output of this program?

```python
total = 0
for i in range(1,10,2):
  total = total + i
print(i)
```

In [ ]:
25

**Q8**: What is the output of this program?

```python
for num in [1 , 7, 4, 20, 2]:
  if num % 2 == 0:
    break
  print(num)
```

In [ ]:
1
7

**Q9**: What is the output of this program?

```python
count = 0
numbers = [1, 2, 3, 4 ,5 ,6]
for num in numbers:
  if num%2==1:
    count += 1
print(count)
```

In [ ]:
2 4 6

**Q10**: What is the output of this program?

```python
target = 'AAA'
words = ['A','AA','AAA','AA','BBB','AAA','C','AAA']
n_target = 0
n_non_target = 0
for word in words:
  if word == target:
    n_target += 1
  else:
    n_non_target += 2
print(n_target, n_non_target)
```

In [ ]:
3 10

**Q11**: Fill in the blank to print numbers from 0 to 4:

In [1]:
for i in range(5):
  print(i)

0
1
2
3
4

**Q12**: Fill in the blank to print out 'Welcome' 4 times

In [4]:
n = 4
for i in range(n):
  print('Welcome')

Welcome
Welcome
Welcome
Welcome

**Q13**: Fill in the blank so that the code print out 7 4 1

In [7]:
for i in range(7, 0,-3):
  print(i, end=' ')

7 4 1

**Q14**: Fill in the blank so that the program print out 0 1 2 3

In [10]:
count = 0
while count < 10:
  print(count, end=' ')
  if count == 3:  #Fill in your code here
    break
  count += 1

0 1 2 3

**Q15**: Fill in the blanks to create a countdown from 5 to 1

In [11]:
x = 5
while x > 0:
  print(x)
  x -= 1

5
4
3
2
1

**Q16**: Fill in the blanks to calculate the sum of squared numbers from 1 to 10. $1^2 + 2^2 + 3^2 + 4^2 ... + 9^2 + 10^2$

In [12]:
total = 0
for num in range(1, 11):
  total += num**2
print(total)

385

**Q17**: Fill in the blank so that the program prints out 20.

In [13]:
count = 0
for num in range(10):
  if num % 2 == 0:
    count += num     # Fill in here
print(count)

20

**Q18**: Fill in the blank so that the program prints out 28.

In [73]:
total = 0
x = 10
while x > 2: # Fill in here
  total += x
  x -= 2
print(total)

28

**Q19**: Calculate sum from user

เขียนโปรแกรมเพื่อคำนวณค่าผลรวมจากตัวเลขที่ผู้ใช้งานพิมพ์เข้ามา โปรแกรมจะถามผู้ใช้งานให้พิมพ์ตัวเลขเข้ามาเรื่อยๆ จนกระทั่งผู้ใช้งานใส่ค่า -999999. เมื่อจบแล้วให้พิมพ์ค่าผลรวมทั้งหมดออกมา

---

Write a program to calculate a sum of numbers from user. Your program will keep asking user. When the user types -999999, stop and output the total.

Input:
- integer numbers from users

Output:
- The sum of all number (not include -999999)

Example 1:
```
>Enter a number: 5
>Enter a number: 3
>Enter a number: 10
>Enter a number: -999999
The total is 18
```

Example 2:
```
>Enter a number: 20  
>Enter a number: -30
>Enter a number: -999999
The total is -10.
```

In [68]:
total = 0
num = int(input(">Enter a number: "))
while num != -999999:
  total += num
  num = int(input(">Enter a number: "))
print(f"The total is {total}")

>Enter a number: 5
>Enter a number: 3
>Enter a number: 10
>Enter a number: -999999
The total is 18

**Q20**: Calculate salary with validation

เขียนโปรแกรมที่รับจำนวนชั่วโมง และเรทเงินเดือนต่อชม และแสดงผลเงินเดือนที่ได้หมดมา

สำหรับโปรแกรมนี้นั้น จะต้องตรวจสอบก่อนว่า ค่าจำนวนชมและเรท จะต้องไม่ติดลบ. (คำใบ้: เช็คที่ละอัน)

---

Write a program to calculate monthly salary from the number of hours (`hour`) and rate per hour (`rate`).

Importantly, your program must validate that `hour` and `rate` are positive numbers. If they are not, you must keep asking the user. (Hint: You want validate hour first and then rate.)



Input:
- Real number, the number of hour.
- Real number, rate per hour.

Output:
- Real number, your salary at two decimal places.


Example 1:
```
>Enter hours: 20
>Enter rate: 10
Your salary is 200.00
```

Example 2:
```
>Enter hours: -10
Invalid hours. Please reenter.
>Enter hours: -20
Invalid hours. Please reenter.
>Enter hours: 30
>Enter rate: 20
Your salary is 600.00
```

Example 3:
```
>Enter hours: -25
Invalid hours. Please reenter.
>Enter hours: 40
>Enter rate: -10
Invalid rate. Please reenter.
>Enter rate: 15
Your salary is 600.00
```

In [66]:

  hour = int(input(">Enter hours: "))
  while hour < 0:
    print("Invalid hours. Please reenter.")
    hour = int(input(">Enter hours: "))


  rate = int(input("Enter rate: "))
  while rate < 0:
    print("Invalid rate. Please reenter.")
    rate = int(input(">Enter rate: "))
    total = hour * rate
  print(f"Your salary is {total:.2f}")

>Enter hours: -25
Invalid hours. Please reenter.
>Enter hours: 40
Enter rate: -10
Invalid rate. Please reenter.
>Enter rate: 15
Your salary is 600.00